<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Datos Recopilados del Formulario
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-item color="success"><ion-label>Nombre:</ion-label>{{ nom }}</ion-item>
    <ion-item color="success"><ion-label>Apellido:</ion-label>{{ ape }}</ion-item>
    <ion-item color="success"><ion-label>Telefono:</ion-label>{{ tel }}</ion-item>
    <ion-item color="success"><ion-label>Edad:</ion-label>{{ eda }}</ion-item>
    <ion-item color="success"><ion-label>Fecha de Nacimiento:</ion-label>{{ fec }}</ion-item>