<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item color="secondary"><ion-label position="floating">Nombre:</ion-label><ion-input type="text" [(ngModel)]="nombreIn" required></ion-input></ion-item>
  <ion-item color="secondary"><ion-label position="floating">Apellido:</ion-label><ion-input type="text" [(ngModel)]="apellidoIn" required></ion-input></ion-item>
  <ion-item color="secondary"><ion-label position="floating">Telefono:</ion-label><ion-input type="number" [(ngModel)]="telefonoIn" required></ion-input></ion-item>
  <ion-item color="secondary"><ion-label position="floating">Edad:</ion-label><ion-input type="number" [(ngModel)]="edadIn" required></ion-input></ion-item>
  <ion-item color="secondary"><ion-label position="floating">Fecha de Nacimiento:</ion-label><ion-datetime [(ngModel)]="fechaIn" required display-timezone="utc"></ion-datetime></ion-item>
  <ion-button color="success" (click)="goToVista()">Guardar</ion-button>
</ion-content> 